<header class="header">
  <div class="container header__container">
    <div class="logo header__logo">
      <a href="#"><img src="../assets/images/macaroons.png" alt="логотип" /></a>
    </div>
    <nav class="menu" id="menu">
      <div class="close">
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 492 492"
          style="enable-background: new 0 0 492 492"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
			c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
			c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
			L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
			c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
			c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
			c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"
              />
            </g>
          </g>
        </svg>
      </div>
      <ul class="menu__items">
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(productElement)"
            >Пироженки</a
          >
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(aboutElement)"
            >О нас</a
          >
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(orderElement)"
            >Оформить заказ</a
          >
        </li>
      </ul>
    </nav>
    <div class="phone phone__header">
      <a href="tel:+375293689868" class="phone__link">{{phone}}</a>
    </div>
    <div class="burger" id="burger">
      <div class="burger__line"></div>
      <div class="burger__line"></div>
      <div class="burger__line"></div>
    </div>
  </div>
</header>
<section class="main">
  <div class="container main__container">
    <div class="main__info">
      <h1 class="main__title">Мягкие французские пироженки Macaroons</h1>
      <p class="main__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними
        пироженками Macaroon!
      </p>
      <button
        class="button button_red main__button"
        (click)="scrollTo(productElement)"
      >
        Выбрать макарун
      </button>
    </div>
    <div class="main__image">
      <div class="main__circle main__circle_first"></div>
      <div class="main__circle main__circle_second"></div>
      <img
        src="../assets/images/macaroons_box.png"
        alt="Коробка с макарунами"
      />
    </div>
  </div>
</section>
<section class="about" #aboutElement>
  <div class="container about__container">
    <div class="about__info">
      <h2 class="about__title">
        Мы печём для вас вкуснейшие макаруны уже более 10 лет
      </h2>
      <p class="about__text">
        Все пироженки мы готовим только из натуральных и качественных продуктов,
        без консервантов, ароматизаторов, красителей. Используем в приготовлении
        сливочное масло 82,5%, без дрожжей, маргарина, разрыхлителей и
        улучшителей муки.
      </p>
    </div>
    <div class="about__image">
      <img src="../assets/images/big_macaroon.png" alt="большой макарун" />
    </div>
  </div>
</section>
<section class="advantages">
  <div class="container advantages__container">
    <div class="advantage" *ngFor="let advantage of advantages; let i = index">
      <div class="advantage__icon">
        <span class="advantage__numder">{{ i + 1 }}</span>
      </div>
      <div class="advantage__title">{{ advantage.title }}</div>
      <div class="advantage__description">
        {{ advantage.description }}
      </div>
    </div>
  </div>
</section>
<section class="products" #productElement>
  <div class="container products__container">
    <h2 class="products__title">Выберите свой макарун</h2>
    <div class="products__items">
      <div class="product" *ngFor="let product of products; let i = index">
        <div class="product__image">
          <img
            src="../assets/images/{{ product.image }}"
            alt="macaroon {{ i }}"
          />
        </div>
        <div class="product__title">{{ product.title }}</div>
        <div class="product__footer">
          <div class="product__price">
            <span>{{ product.price.quantity }}</span>
            <span>{{ product.price.value }}</span>
          </div>
          <div class="product__action">
            <button
              class="button button_red product__button"
              (click)="addToCart(product, orderElement)"
            >
              Заказать
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="order" #orderElement>
  <div class="container order__container">
    <div class="order__image">
      <img src="../assets/images/macaron_PNG56.png" alt="macaron" />
    </div>
    <div class="order__form">
      <h2 class="order__title">Закажите макарун!</h2>
      <p class="order__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего
        пекаря!
      </p>
      <form class="form">
        <fieldset class="form__fieldset">
          <legend class="form__fieldset_name">Ваш выбор</legend>
          <input
            type="text"
            name="productName"
            class="form__input"
            placeholder="Напишите, что хотите заказать..."
            [(ngModel)]="formValues.productTitle"
          />
         
        </fieldset>
        <fieldset class="form__fieldset">
          <legend class="form__fieldset_name">
            Заполните данные для заказа
          </legend>
          <input type="text" name="userName" class="form__input" placeholder="Ваше имя"
           [(ngModel)]="formValues.name"
          />
          <input
            type="text"
            name="userPhone"
            class="form__input"
            placeholder="+375 (__) ___ - __ - __"
             [(ngModel)]="formValues.phone"
          />
        </fieldset>
        <button class="button button_red order__button">Оформить заказ</button>
      </form>
    </div>
    <div class="strawberry strawberry_left">
      <img src="../assets/images/клубника.png" alt="strawberry" />
    </div>
    <div class="strawberry strawberry_right">
      <img src="../assets/images/клубника2.png" alt="strawberry" />
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container footer__container">
    <div class="logo footer__logo">
      <a href="#"><img src="../assets/images/macaroons.png" alt="логотип" /></a>
      <span class="footer__rights">Все права защищены, 2020</span>
    </div>
    <div class="footer__social">
      <a href="{{instagramLink}}"
        ><img
          src="../assets/images/instagram.png"
          alt="instagram"
          class="instagram"
      /></a>
      <span class="social__text">Мы в Instagram</span>
    </div>
    <div class="phone footer_phone">
      <a href="tel:+375293689868" class="phone__link"> +375 (29) 368-98-68 </a>
    </div>
    <div class="footer__rights_mobil">Все права защищены, 2020</div>
  </div>
</footer>
<div class="present" *ngIf="showPresent">
  <div class="present__message">Оформите заказ и получите подарок!</div>
  <div class="present__widget">
    <a href="#"><img src="../assets/images/present.png" alt="present" /></a>
  </div>
</div>
